@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
body {
  font-family: "Madimi One", sans-serif;
}
header {
  display: flex;
  justify-content: center;
}
.shrek__main_header {
  display: none;
}
.shrek__main_container {
  display: flex;
  justify-content: center;
}
.shrek__yes_image {
  display: none;
}
.shrek__main_heartImage {
  position: absolute;
}
.shrek__no_image {
  display: none;
}
.shrek__btn {
  display: flex;
  justify-content: center;
}
.btn__no {
  font-family: "Madimi One", sans-serif;
  width: 100px;
  height: auto;
}
.btn__no_new {
  position: absolute;
  width: 100px;
  height: auto;
  font-family: "Madimi One", sans-serif;
}
.btn__yes {
  font-family: "Madimi One", sans-serif;
  width: 100px;
  height: auto;
}
.shrek__no_header {
  display: none;
}
.shrek__btn_container {
  display: flex;
  justify-content: center;
}

.shrek__no_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
