@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
body {
  font-family: "Madimi One", sans-serif;
}
header {
  display: flex;
  justify-content: center;
}
.header__title {
  color: #fd0d9d;
  text-wrap: wrap;
}
.shrek__main_header {
  display: none;
  color: #fd0d9d;
}
.shrek__main_container {
  display: flex;
  justify-content: center;
}
.shrek__yes_image {
  display: none;
}
.shrek__main_heartImage {
  position: absolute;
}
.shrek__no_image {
  display: none;
}
.shrek__btn {
  display: flex;
  justify-content: center;
}
.btn__no {
  font-family: "Madimi One", sans-serif;
  position: relative;
  background: #ff8bd1;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 0px;
}
.btn__no_span {
  font-family: "Madimi One", sans-serif;
  display: block;
  padding: 15px 45px;
  border-radius: 15px;
  background: #fd0d9d;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  transform: translateY(-6px);
  transition: transform ease 0.1s;
}
.btn__no:active .btn__no_span {
  transform: translateY(-2px);
}
.btn__yes {
  font-family: "Madimi One", sans-serif;
  position: relative;
  background: #ff8bd1;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 0px;
  margin-right: 100px;
}
.btn__yes_span {
  font-family: "Madimi One", sans-serif;
  display: block;
  padding: 15px 45px;
  border-radius: 15px;
  background: #fd0d9d;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  transform: translateY(-6px);
  transition: transform ease 0.1s;
}
.btn__yes:active .btn__yes_span {
  transform: translateY(-2px);
}
.shrek__no_header {
  display: none;
  color: #fd0d9d;
}
.shrek__btn_container {
  display: flex;
  justify-content: center;
}

.shrek__no_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
